@import 'variables';
// /* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

html {
  height: 100vh;
}

body {
  // background-image: url("../images/city-skyline.jpg");
  background-color: #E0E5EC;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // backface-visibility: hidden;
  // animation: slideBg 25s linear infinite 2s;
  // animation-timing-function: ease-in-out;
  // background-image: url("../images/city-skyline.jpg");
}

// @keyframes slideBg {
//   25%{
//     background-image: url("../images/bathroom.jpg");
//   }
//
//   50%{
//     background-image: url("../images/hotel-pool.jpg");
//   }
//
//   75%{
//     background-image: url("../images/overhead-city.jpg");
//   }
//
//   100%{
//     background-image: url("../images/hotel-room.jpg");
//   }
//
//   // 100%{
//   //   background-image: url("../images/hotel-city.jpg");
//   // }
// }

.header-bar {
  background-color: $dark-grey;
  color: $light-white;
  margin: none;
  height: 5%;
  padding: 1%;
  font-family: $cabin-font;
}

.hotel-name {
  margin: 0;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10%;
}

.welcome-greeting {
  color: $dark-grey;
  font-family: $cabin-font;
}

// .login-layout{
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;
//   height: 50vh;
//   width: 75vh;
//   background-color: $dark-grey;
//   border-radius: 5px;
//   font-family: $cabin-font;
// }

.login-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 75vh;
  background-color:#E0E5EC;
  border-radius: 5px;
  font-family: $cabin-font;
}

// .username-input {
//   margin: 1em;
//   border-style: solid;
//   height: 5%;
//   width: 85%;
//   padding: 2%;
//   color: $light-white;
//   background: none;
//   border-color: $light-white;
//   border-left-style: none;
//   border-right-style: none;
//   border-top-style: none;
//   border-width: thin;
// }

.username-input {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $dark-grey;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
}

.username-input:focus{
  cursor: pointer;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.password-input {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $dark-grey;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
}

.password-input:focus{
  cursor: pointer;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

::placeholder {
  color: $dark-grey;
  font-family: $cabin-font;
  font-size: 12px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh
}

.clear-button {
  border-radius:4px;
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  border-style: none;
  padding: .5em;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  box-shadow:  20px 20px 60px #bec3c9,
               -20px -20px 60px #ffffff;
}

.clear-button:hover {
  cursor: pointer;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.login-button {
  border-radius:4px;
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  border-style: none;
  padding: .5em;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 5px;
  background: linear-gradient(145deg, #f0f5fd, #caced4);
  box-shadow:  20px 20px 60px #bec3c9,
               -20px -20px 60px #ffffff;
}

.login-button:hover {
  cursor: pointer;
  box-shadow: inset 6px 6px 10px 0 rgba(0, 0, 0, 0.2),
  inset -6px -6px 10px 0 rgba(255, 255, 255, 0.5);
}

.customer-view {
  display: flex;
  flex-direction: row;
  font-family: $cabin-font;
  align-items: center;
  height: 100%;
}

.manager-view {
  display: flex;
  flex-direction: row;
  font-family: $cabin-font;
  align-items: center;
  height: 100%;
}

.room-inputs-container {
  margin-left: 1em;
}

.manager-calendar-dropdown {
  background: none;
  border-style: solid;
  border-radius: 5px;
  padding: 1em;
  color: white;
  border-color: white;
  height: 1%;
}

.select-room-type {
  background: none;
  color: white;
  height: 1%;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
  margin: 1em;
}

.user-img {
  background-color:#E0E5EC;
  border-radius: 5px;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.customer-name {
  margin: 0;
}

.manager-name {
  margin: 0;
}

.room-inputs-container {
  display: flex;
  flex-direction: row;
}

.room-cards {
  height: 85%;
  width: 25%;
}

.customer-available-rooms {
  background-color:#E0E5EC;
  height: 50vh;
  width: 85%;
  overflow: scroll;
  background-color: #E0E5EC;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

.manager-available-rooms {
  background-color:#E0E5EC;
  height: 50vh;
  width: 85%;
  overflow: scroll;
  background-color: #E0E5EC;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

.room-card {
  margin: 2.5em;
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  color: black;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
}

.booking-card {
  border-style: none;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  color: $dark-grey;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
}

.customer-bookings-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  background-color:#E0E5EC;
}

.manager-bookings-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  background-color:#E0E5EC;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
  margin: 1em;
}

.bookings-header {
  margin: 1em;
}

.customer-bookings {
  padding: 1em;
  background-color: #E0E5EC;
  width: 85%;
  height:75vh;
  overflow: scroll;
}

.manager-bookings {
  padding: 1em;
  background-color: #E0E5EC;
  width: 85%;
  height:75vh;
  overflow: scroll;
}

.hidden {
  display: none;
}
