@import 'variables';
// /* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;
//
// body {
//   background: $primary-background;
// }

html {
  height: 100vh;
}

body {
  // background-image: url("../images/city-skyline.jpg");
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  // height: 100vh;
  width: 100%;
  height: 100%;
  // background-position: center center;
  // background-repeat: no-repeat;
  // background-size: cover;
  // backface-visibility: hidden;
  // animation: slideBg 25s linear infinite 2s;
  // animation-timing-function: ease-in-out;
  // background-image: url("../images/city-skyline.jpg");
}

@keyframes slideBg {
  25%{
    background-image: url("../images/bathroom.jpg");
  }

  50%{
    background-image: url("../images/hotel-pool.jpg");
  }

  75%{
    background-image: url("../images/overhead-city.jpg");
  }

  100%{
    background-image: url("../images/hotel-room.jpg");
  }

  // 100%{
  //   background-image: url("../images/hotel-city.jpg");
  // }
}

.header-bar {
  background-color: $dark-grey;
  color: $light-white;
  margin: none;
  height: 3%;
  padding: 1%;
  font-family: $cabin-font;
}

.hotel-name {
  margin: 0;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.welcome-greeting {
  color: $light-white;
  font-family: $cabin-font;
}

.login-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 45%;
  background-color: $dark-grey;
  border-radius: 5px;
}

.username-input {
  margin: 1em;
  border-radius: 5px;
  border-style: solid;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $light-white;
  background: none;
  border-color: $light-white;
}

.password-input {
  margin: 1em;
  border-radius: 5px;
  border-style: solid;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $light-white;
  background: none;
  border-color: $light-white;
}

::placeholder {
  color: $light-white;
  font-family: $cabin-font;
  font-size: 12px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.clear-button {
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  background: none;
  border-style: solid;
  border-color: $light-white;
  border-radius: 5px;
  padding: .5em;
  color: $light-white;
  font-family: $cabin-font;
  border-width: medium;
}

.login-button {
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  background: none;
  border-style: solid;
  border-color: $light-white;
  border-radius: 5px;
  padding: .5em;
  color: $light-white;
  font-family: $cabin-font;
  border-width: medium;
}

.customer-view {
  display: flex;
  flex-direction: row;
}

.room-inputs-container {
  margin-left: 1em;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 100vh;
}

.user-profile {
  display: flex;
  flex-direction: row;
  width: 50%;
  background-color: $mid-grey;
  margin: 1em;
  padding: 1em;
}

.room-inputs-container {
  display: flex;
  flex-direction: row;
}

.available-rooms {
  margin: 1em;
  background-color: $grey-white;
  height: 75%;
  width: 85%;
  padding: 1em;
}

.bookings-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.bookings-header {
  margin: 1em;
}

.customer-bookings {
  background-color: $grey-white;
  width: 85%;
}

.hidden {
  display: none;
}
