@import 'variables';
// /* This is an example of using Sass, otherwise plain CSS works too*/
// $primary-background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
// ;

input:focus {
  outline: none !important;
}

button:focus {
  outline: none !important;
}

html {
  height: 100vh;
}

body {
  background-color: $frost-white;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

.hotel-name {
  margin: 0;
}

.login-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 5%;
}

.overlook-logo {
 background-image: url('../images/overlook.png');
 height: 150px;
 width: 500px;
}

.overlook-logo:hover {
  background-image: url('../images/hotel.png');
  height: 150px;
  width: 500px;
}

.welcome-greeting {
  color: $dark-grey;
  font-family: $cabin-font;
}

.login-layout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  width: 75vh;
  background-color:$frost-white;
  border-radius: 5px;
  font-family: $cabin-font;
}

.username-input {
  margin: 1em;
  margin-bottom: 0;
  border-style: none;
  border-radius:4px;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.username-input:focus{
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.password-input {
  margin: 1em;
  margin-bottom: 0;
  border-style: none;
  border-radius:4px;
  height: 5%;
  width: 85%;
  padding: 2%;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
  -webkit-text-security: circle;
}

.password-input:focus{
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

#usernameInputLabel {
  font-size: 10px;
  margin-left: 2em;
  align-self: flex-start;
}

#passwordInputLabel {
  font-size: 10px;
  margin-left: 2em;
  align-self: flex-start;
}

.book-room-button {
  margin-top: 0;
  height: 3em;
  width: 5em;
  border-style: none;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 10%;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.book-room-button:hover{
  cursor: pointer;
  background: $box-shadow-hover-background;
  box-shadow: $box-shadow-hover;
}

.book-room-button:active {
  cursor: pointer;
  box-shadow: $box-shadow-active;
}

.book-room-button:focus {
  box-shadow: $box-shadow-focus;
}

.cancel-booking-button {
  margin-top: 0;
  height: 3em;
  width: 5em;
  border-style: none;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 10%;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.cancel-booking-button:hover{
  cursor: pointer;
  background: $box-shadow-hover-background;
  box-shadow: $box-shadow-hover;
}

.cancel-booking-button:active {
  cursor: pointer;
  box-shadow: $box-shadow-active;
}

.cancel-booking-button:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

::placeholder {
  color: $dark-grey;
  font-family: $cabin-font;
  font-size: 12px;
}

.login-buttons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  margin-top: 3vh
}

.clear-button {
  border-radius:4px;
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  border-style: none;
  padding: .5em;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 5px;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.clear-button:hover {
  cursor: pointer;
  background: $box-shadow-hover-background;
  box-shadow:  $box-shadow-hover;
}

.clear-button:active {
  cursor: pointer;
  box-shadow: $box-shadow-active;
}

.clear-button:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.login-button {
  border-radius:4px;
  margin: 2.5em;
  margin-top: 0;
  width: 8em;
  border-style: none;
  padding: .5em;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 5px;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.login-button:hover {
  cursor: pointer;
  background: $box-shadow-hover-background;
  box-shadow:  $box-shadow-hover;
}

.login-button:active {
  cursor: pointer;
  box-shadow: $box-shadow-active;
}

.login-button:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.customer-view {
  display: flex;
  flex-direction: row;
  font-family: $cabin-font;
  align-items: center;
  height: 100%;
}

.manager-view {
  display: flex;
  flex-direction: row;
  font-family: $cabin-font;
  align-items: center;
  height: 100%;
}

.manager-metrics-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.manager-metrics {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
}

.manager-revenue {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 1em;
  background-color: $frost-white;
  border-radius: 5px;
  box-shadow: $box-shadow-standard;
}

.manager-revenue-label {
  margin: 0;
  margin-top: 1em;
  text-align: center;
}

.manager-percentage-occupied {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
}

.manager-percentage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 1em;
  background-color: $frost-white;
  border-radius: 5px;
  box-shadow: $box-shadow-standard;
}

.manager-percentage-label {
  margin: 0;
  margin-top: 1em;
  text-align: center;
}

.manager-calendar-dropdown {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 25%;
  width: 50%;
  padding: 2%;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.manager-calendar-dropdown:focus{
  cursor: pointer;
  box-shadow: $box-shadow-focus;
  outline: blue !important;
}

.customer-calendar-dropdown {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 25%;
  width: 50%;
  padding: 2%;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.customer-calendar-dropdown:focus{
  cursor: pointer;
  box-shadow: $box-shadow-focus;
  outline: blue !important;
}

.manager-room-type-dropdown {
  margin: 1em;
  border-style: none;
  border-radius: 4px;
  height: 65%;
  width: 85%;
  padding: 2%;
  color: #212529;
  font-family: Cabin, sans-serif;
  border-radius: 5px;
  background-color: $frost-white;
  box-shadow: $box-shadow-standard;
}

.manager-room-type-dropdown:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.customer-room-type-dropdown {
  margin: 1em;
  border-style: none;
  border-radius: 4px;
  height: 65%;
  width: 85%;
  padding: 2%;
  color: #212529;
  font-family: Cabin, sans-serif;
  border-radius: 5px;
  background-color: $frost-white;
  box-shadow: $box-shadow-standard;
}

.customer-room-type-dropdown:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.user-info {
  display: flex;
  flex-direction: column;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  margin: 1em;
}

.user-img {
  background-color:$frost-white;
  border-radius: 5px;
  box-shadow: $box-shadow-standard;
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
  height: 100px;
  width: 100px;
}

.user-image-name-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25%;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 85%;
}

.customer-amount-spent {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
}

.manager-amount-spent {
  margin-bottom: 0;
  margin-top: 1em;
  padding: 1em;
}

.customer-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 1em;
  background-color: $frost-white;
  border-radius: 5px;
  box-shadow: $box-shadow-standard;
}

.manager-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;
  padding: 1em;
  background-color: $frost-white;
  border-radius: 5px;
  box-shadow: $box-shadow-standard;
}

.amount-spent-label {
  margin: 0;
  margin-top: 1em;
  text-align: center;
}

.manager-amount-spent-label {
  margin: 0;
  margin-top: 1em;
  text-align: center;
}

.customer-name {
  margin: 0;
  margin-top: 1em;
}

.manager-name {
  margin: 0;
  margin-top: 1em;
}

.room-inputs-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 85%;
}

.room-cards {
  height: 85%;
  width: 25%;
}

.customer-available-rooms {
  background-color:$frost-white;
  overflow: scroll;
  background-color: $frost-white;
  height: 90%;
  width: 100%;
  overflow: scroll;
}

.manager-available-rooms {
  background-color:$frost-white;
  overflow: scroll;
  background-color: $frost-white;
  height: 90%;
  width: 85%;
  padding: 1em;
  overflow: scroll;
}

.room-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
  border-style: none;
  border-radius: 5px;
  padding: 1em;
  color: black;
  background-color:$frost-white;
  box-shadow: 9px 9px 16px
  rgba(163,177,198,0.6), -9px -9px 16px
  rgba(255,255,255, 0.5);
  width: 85%
}

.room-card:focus {
  cursor: pointer;
  box-shadow: inset $box-shadow-focus;
}

.room-card-break-one {
  text-align: left;
}

.room-card-break-two {
  text-align: right;
}

.booking-card {
  border-style: none;
  border-radius: 5px;
  margin: 1em;
  padding: 1em;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
  width: 85%
}

.booking-card:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.customer-bookings-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  background-color:$frost-white;
}

.manager-bookings-area {
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50vw;
  height: 85vh;
  border-radius: 7px;
  background-color:$frost-white;
}

.bookings-header {
  margin: .5em;
}

.customer-bookings {
  padding: 1em;
  background-color: $frost-white;
  width: 85%;
  height:75vh;
  overflow: scroll;
}

.manager-search-wrap {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85%;
}

.manager-search-input {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 30%;
  width: 75%;
  padding: 2%;
  color: $dark-grey;
  background-color:$frost-white;
  box-shadow: $box-shadow-standard;
}

.manager-search-input:focus{
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.manager-search-button {
  margin: 1em;
  border-style: none;
  border-radius:4px;
  height: 55%;
  width: 20%;
  padding: 2%;
  color: $dark-grey;
  font-family: $cabin-font;
  border-radius: 5px;
  background-color:$frost-white;
  box-shadow:$box-shadow-standard;
}

.manager-search-button:hover {
  cursor: pointer;
  background: $box-shadow-hover-background;
  box-shadow:  $box-shadow-hover;
}

.manager-search-button:active {
  cursor: pointer;
  box-shadow: $box-shadow-active;
}

.manager-search-button:focus {
  cursor: pointer;
  box-shadow: $box-shadow-focus;
}

.manager-bookings {
  padding: 1em;
  background-color: $frost-white;
  width: 85%;
  height:75vh;
  overflow: scroll;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 650px) {

  @mixin mobile-view() {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-family: $cabin-font;
    height: 100%;
    width: 100%;
  }

  @mixin mobile-available-rooms-wrap {
    background-color:$frost-white;
    overflow: scroll;
    background-color: $frost-white;
    height: 20vh;
    width: 100vw;
    overflow: scroll;
  }

  @mixin mobile-view-user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 50%;
    margin: 0;
    margin-left: 1em;
  }

  .room-card {
    margin: 0;
  }
  .customer-view {
    @include mobile-view;
  }

  .manager-view {
    @include mobile-view;
  }

  .user-info {
    @include mobile-view-user-info;
  }

  .user-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 25vh;
  }

  .user-img {
    height: 50px;
    width: 50px;
  }

  .user-image-name-wrap {
    height: auto;
    width: auto;
  }

  .customer-available-rooms {
    @include mobile-available-rooms-wrap;
  }

  .manager-available-rooms {
    @include mobile-available-rooms-wrap;
  }

  .customer-bookings {
    height: 35vh;
    width: 100vw;
  }

  .manager-bookings {
    height: 35vh;
    width: 100vw;
  }

  .manager-bookings-heading {
    text-align: center;
  }

  .manager-search-wrap {
    width: 95vw;
  }

  .room-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 85%;
  }

  .booking-card {
    border-style: none;
    border-radius: 5px;
    margin: 0;
    margin-top: .5em;
    margin-bottom: .5em;
    padding: 1em;
    color: #212529;
    background-color: #E0E5EC;
    box-shadow: 9px 9px 16px rgba(163, 177, 198, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
    width: 85%;
}
}

:focus {
  outline: none;
}
